set title 'DS / eic=EIC / sync'

set ylabel 'LABEL'

plot "data/MACHINE/DATASET/bitmapscan/EIC-sync-3-BUFFERS-master.data"            using X:Y with points pt 6 ps 0.75 lc rgb "#cc0000" title "bitmapscan (master)", \
     "data/MACHINE/DATASET/bitmapscan/EIC-sync-3-BUFFERS-prefetch-simple.data"   using X:Y with points pt 6 ps 0.75 lc rgb "#00dd00" title "bitmapscan (simple)", \
     "data/MACHINE/DATASET/bitmapscan/EIC-sync-3-BUFFERS-prefetch-complex.data"  using X:Y with points pt 6 ps 0.75 lc rgb "#0000cc" title "bitmapscan (complex)", \
     "data/MACHINE/DATASET/indexscan/EIC-sync-3-BUFFERS-master.data"             using X:Y with points pt 7 ps 0.75 lc rgb "#dd0000" title "indexscan (master)", \
     "data/MACHINE/DATASET/indexscan/EIC-sync-3-BUFFERS-prefetch-simple.data"    using X:Y with points pt 7 ps 0.75 lc rgb "#00cc00" title "indexscan (simple)", \
     "data/MACHINE/DATASET/indexscan/EIC-sync-3-BUFFERS-prefetch-complex.data"   using X:Y with points pt 7 ps 0.75 lc rgb "#0000dd" title "indexscan (complex)"

unset ylabel

set title 'DS / eic=EIC / worker-3'

plot "data/MACHINE/DATASET/bitmapscan/EIC-worker-3-BUFFERS-master.data"            using X:Y with points pt 6 ps 0.75 lc rgb "#cc0000" title "bitmapscan (master)", \
     "data/MACHINE/DATASET/bitmapscan/EIC-worker-3-BUFFERS-prefetch-simple.data"   using X:Y with points pt 6 ps 0.75 lc rgb "#00dd00" title "bitmapscan (simple)", \
     "data/MACHINE/DATASET/bitmapscan/EIC-worker-3-BUFFERS-prefetch-complex.data"  using X:Y with points pt 6 ps 0.75 lc rgb "#0000cc" title "bitmapscan (complex)", \
     "data/MACHINE/DATASET/indexscan/EIC-worker-3-BUFFERS-master.data"             using X:Y with points pt 7 ps 0.75 lc rgb "#dd0000" title "indexscan (master)", \
     "data/MACHINE/DATASET/indexscan/EIC-worker-3-BUFFERS-prefetch-simple.data"    using X:Y with points pt 7 ps 0.75 lc rgb "#00cc00" title "indexscan (simple)", \
     "data/MACHINE/DATASET/indexscan/EIC-worker-3-BUFFERS-prefetch-complex.data"   using X:Y with points pt 7 ps 0.75 lc rgb "#0000dd" title "indexscan (complex)"

set title 'DS / eic=EIC / worker-12'

plot "data/MACHINE/DATASET/bitmapscan/EIC-worker-12-BUFFERS-master.data"            using X:Y with points pt 6 ps 0.75 lc rgb "#cc0000" title "bitmapscan (master)", \
     "data/MACHINE/DATASET/bitmapscan/EIC-worker-12-BUFFERS-prefetch-simple.data"   using X:Y with points pt 6 ps 0.75 lc rgb "#00dd00" title "bitmapscan (simple)", \
     "data/MACHINE/DATASET/bitmapscan/EIC-worker-12-BUFFERS-prefetch-complex.data"  using X:Y with points pt 6 ps 0.75 lc rgb "#0000cc" title "bitmapscan (complex)", \
     "data/MACHINE/DATASET/indexscan/EIC-worker-12-BUFFERS-master.data"             using X:Y with points pt 7 ps 0.75 lc rgb "#dd0000" title "indexscan (master)", \
     "data/MACHINE/DATASET/indexscan/EIC-worker-12-BUFFERS-prefetch-simple.data"    using X:Y with points pt 7 ps 0.75 lc rgb "#00cc00" title "indexscan (simple)", \
     "data/MACHINE/DATASET/indexscan/EIC-worker-12-BUFFERS-prefetch-complex.data"   using X:Y with points pt 7 ps 0.75 lc rgb "#0000dd" title "indexscan (complex)"

set title 'DS / eic=EIC / io\_uring'

plot "data/MACHINE/DATASET/bitmapscan/EIC-io_uring-3-BUFFERS-master.data"            using X:Y with points pt 6 ps 0.75 lc rgb "#cc0000" title "bitmapscan (master)", \
     "data/MACHINE/DATASET/bitmapscan/EIC-io_uring-3-BUFFERS-prefetch-simple.data"   using X:Y with points pt 6 ps 0.75 lc rgb "#00dd00" title "bitmapscan (simple)", \
     "data/MACHINE/DATASET/bitmapscan/EIC-io_uring-3-BUFFERS-prefetch-complex.data"  using X:Y with points pt 6 ps 0.75 lc rgb "#0000cc" title "bitmapscan (complex)", \
     "data/MACHINE/DATASET/indexscan/EIC-io_uring-3-BUFFERS-master.data"             using X:Y with points pt 7 ps 0.75 lc rgb "#dd0000" title "indexscan (master)", \
     "data/MACHINE/DATASET/indexscan/EIC-io_uring-3-BUFFERS-prefetch-simple.data"    using X:Y with points pt 7 ps 0.75 lc rgb "#00cc00" title "indexscan (simple)", \
     "data/MACHINE/DATASET/indexscan/EIC-io_uring-3-BUFFERS-prefetch-complex.data"   using X:Y with points pt 7 ps 0.75 lc rgb "#0000dd" title "indexscan (complex)"
